@import 'tailwindcss';


#mainContainer {
  display: grid;
  grid-template-columns: 1fr 300px;       /* Main content + sidebar */
  grid-template-rows: 240px auto;          /* the 240px is for first row, and the auto is for the rest of the following rows */
  grid-template-areas:
    "header header"
    "content sidebar";
  height: 100vh;
  margin: 30px;
  gap: 25px;
}

#header {
  
  grid-area: header;
  background: #111;
  color: white;
  border-radius: 5px;
}

#contents {
    grid-area: content;
    background: #222;
    color: white;
    border-radius: 10px;
    
}

#sidebar {
    grid-area: sidebar;
    background: #333;
    color: white;
    border-radius: 5px  ;
}

.title-component-content {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #EFBF04;
    padding: 10px;
}

/* .article {
    display: flex;
    position: relative;
    background-color: #111;
    box-shadow: 0px 1px 10px rgba(211, 211, 211, 0.092);
    width: 30%;
    padding: 10px;
    gap: 20px;
    border-radius: 5px;

} */

.article-info {
    /* font-size: 5px; */
    font-weight: 300;
    /* border: 1px solid yellow; */
}

.container-title {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 52px;
    overflow-y: hidden;
}

.container-title h1 {
    font-weight: 400;
}



.genre {
    /* display: flex;   */
    display: block;
    font-weight: 400;
    /* font-size: 5px; */
    /* border: 1px solid red; */
}

.ongoing-contianer {
    padding: 4px;
    /* border: 1px solid red; */
}


.circle {
    display: inline-block;
    justify-items: center;
    width: 12px;
    height: 12px;
    /* border: 1px solid orange; */
    background-color: orange;
    border-radius: 50%;
}

#container-sidebar {
    backdrop-filter: blur(20%);
}

/* Sidebar */

#sidebar-container {
    border: 4px 0 8px rgba(0, 0, 0, 0.3);

}

/* #Sidebar div:first-child,
#Sidebar div:nth-child(2),
#Sidebar div:nth-child(3), 
#Sidebar div:nth-child(4), 
#Sidebar div:nth-child(5), 
#Sidebar div:last-child {
    position: relative;
    z-index: 1;
    border: none;
    font-weight:400;
    cursor: pointer;
    padding: 5px;
}

#Sidebar div:first-child::before ,
#Sidebar div:nth-child(2)::before ,
#Sidebar div:nth-child(3)::before , 
#Sidebar div:nth-child(4)::before , 
#Sidebar div:nth-child(5)::before , 
#Sidebar div:last-child::before {
    
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(255, 166, 0, 0.284);
  z-index: -1;
  transition: width 0.3s ease-in;

}

#Sidebar div:first-child::before ,
#Sidebar div:nth-child(2)::before ,
#Sidebar div:nth-child(3)::before , 
#Sidebar div:nth-child(4)::before , 
#Sidebar div:nth-child(5)::before , 
#Sidebar div:last-child::before {
  width: 100%;
}

#Sidebar div:first-child:hover ,
#Sidebar div:nth-child(2):hover ,
#Sidebar div:nth-child(3):hover , 
#Sidebar div:nth-child(4):hover , 
#Sidebar div:nth-child(5):hover , 
#Sidebar div:last-child:hover {
    
    border: none;
    border-left: 6px solid orange;
    font-weight:400;
    transition: ease-in 0.1s;
    padding-left: 5px;
} */

#Sidebar {
  position: relative;
  z-index: 1;
  border: none;
  font-weight: 400;
  cursor: pointer;
  padding: 9px;
  transition: padding-left 0.1s ease-in;
  overflow: hidden;
}


/* #Sidebar div::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(255, 166, 0, 0.284);
  z-index: -1;
  transition: width 0.3s ease-in;
}

#Sidebar div:hover{
  border-left: 6px solid orange;
  padding-left: 5px;
}

#Sidebar div:hover::before {
  width: 100%;
} */

/* @keyframes ltr-bg {
    from {
        background-color: rgba(255, 166, 0, 0.284);
        width: 0;
        opacity: 0;
    }
    to {
        background-color: rgba(255, 166, 0, 0.284);
        width: 100%;
        opacity: 1;

    }
} */
